<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.mp3player">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="vxuWPqc4mEDlxeuBaQGOQkFF175Xo7YPPHvCsNXm" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="3jsrreGqMNILjAYiZN8UYEFinJE0TNzXObLSe5Yu" />


        <activity android:name=".ParseLogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MP3List"
            android:label="@string/title_activity_MP3List"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>


        <activity android:name=".UploadActivity" />



    </application>

</manifest>
